@model IEnumerable<Photos>
@*@{
        ViewData["Title"] = "Albums";
    }

    <h1>Albums</h1>*@


<table id="photosTable">
    <thead>
        <tr>
            <th>id</th>
            <th>albumId</th>
            <th>thumbNailUrl</th>
            <th>title</th>
            <th>url</th>
        </tr>
    </thead>
</table>

<link href="//cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" />

@section scripts{

    <script src="//cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#photosTable").DataTable(
                {
                    ajax: {
                        url: "/Home/GetPhotos",
                        type: "GET",
                        contentType: "application/json",
                        datatype: "json",
                        dataSrc: "",
                        //success: function (data) {
                        //    console.log(data);
                        //}
                    },
                    columns: [
                        { data: "id" },
                        { data: "albumId" },
                        { data: "title" },
                        { data: "thumbnailUrl" },
                        { data: "url" }

                    ],
                    error: function (error) {
                        alert("Error = " + error);
                    }
                });
        })
    </script>

}
















