@model UserLogin

@{
    ViewData["Title"] = "Login";
}


<main class="my-form">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Login</div>
                    <div class="card-body">
                        <form asp-action="Login" asp-controller="Account">

                            <div class="form-group row">
                                <label for="name" class="col-md-4 col-form-label text-md-right">Name</label>
                                <div class="col-md-6">
                                    <input asp-for="Name" type="text" id="name" class="form-control" name="name">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                                <div class="col-md-6">
                                    <input asp-for="Password" type="password" id="password" class="form-control" name="password">
                                </div>
                            </div>

                            <div class="col-md-6 offset-md-4">
                                <button type="submit" class="btn btn-primary">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>





@*<form asp-action="Login" asp-controller="Account">
    <div class="form-group">
        <label for="name">Login</label>
        <input asp-for="Name" class="form-control" id="name" placeholder="Enter Login">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input asp-for="Password" type="password" class="form-control" id="password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
    <a asp-action="Register" asp-controller="Account">Регистрация</a>
</form>*@